

  <div class='flex flex-col '>
    <div class='flex justify-between items-center'>
      <h2 class='text-xl font-bold text-gray-700'> Order Details </h2>
    </div>

    <div class='flex flex-col mt-4'>
      <div class='flex justify-between items-center'>
        <h3 class='text-lg  text-gray-700'> Order ID </h3>
        <p class='text-lg text-gray-700'> <%= @order.id %> </p>
      </div>

      <div class='flex justify-between items-center mt-2'>
        <h3 class='text-lg  text-gray-700'> Order Date </h3>
        <p class='text-lg text-gray-700'> <%= @order.created_at.strftime('%d %b %Y') %> </p>
      </div>

      <div class='flex justify-between items-center mt-2'>
        <h3 class='text-lg  text-gray-700'> Order Status </h3>
        <p class='text-lg text-gray-700'> <%= @order.status %> </p>
      </div>

      <!-- Displaying the order items -->
      <div class='flex flex-col mt-4'>
        <div class='flex justify-between items-center'>
          <h3 class='text-lg font-bold text-gray-700'> Order Items </h3>
        </div>

        <div class='flex flex-col mt-4'>
          <% @order.order_items.each do |order_item| %>
            <div class='flex justify-between items-center'>
              <p class='text-lg text-gray-700'> <%= order_item.product.name %> </p>
              <p class='text-lg text-gray-700'> <%= order_item.quantity %> </p>
              <p class='text-lg text-gray-700'> $<%=order_item.total_value %> </p>
            </div>
          <% end %>
        </div>

      </div>

      <div class='flex justify-between items-center mt-2'>
        <h3 class='text-lg font-bold text-gray-700'> Total Amount </h3>
        <p class='text-lg text-gray-700'> <%= @order.total_value %> </p>
      </div>
    </div>
  </div>
