

  <div class='flex flex-col '>
    <%= link_to orders_path, class: 'font-bold text-gray-700 mb-5' do %>
      <i class="la-lg las la-arrow-circle-left"></i> Histórico de compras
    <% end %>

    
    <div class='flex justify-between items-center'>
      <h2 class='text-xl font-bold text-gray-700'> Detalhes da compra </h2>
    </div>

    <div class='flex flex-col mt-4'>
      <div class='flex justify-between items-center'>
        <h3 class='text-lg  text-gray-700'> ID da compra </h3>
        <p class='text-lg text-gray-700'> <%= @order.id %> </p>
      </div>

      <div class='flex justify-between items-center mt-2'>
        <h3 class='text-lg  text-gray-700'> Data da compra </h3>
        <p class='text-lg text-gray-700'> <%= @order.created_at.strftime('%d %b %Y') %> </p>
      </div>

      <div class='flex justify-between items-center mt-2'>
        <h3 class='text-lg  text-gray-700'> Status da compra </h3>
        <p class='text-lg text-gray-700'> <%= @order.status %> </p>
      </div>

      <!-- Displaying the order items -->
      <div class='flex flex-col mt-4'>
        <div class='flex justify-between items-center'>
          <h3 class='text-lg font-bold text-gray-700'> Itens </h3>
        </div>

          <div class='flex flex-col mt-4'>
            <table class='min-w-full bg-white'>
              <thead>
                <tr>
                  <th class=' px-4 py-2 border text-gray-700 text-left'>Produto</th>
                  <th class=' px-4 py-2 border text-gray-700 text-left'>Quantidade</th>
                  <th class=' px-4 py-2 border text-gray-700 text-left'>Valor Unitário</th>
                  <th class=' px-4 py-2 border text-gray-700 text-left'>Valor Total</th>
                </tr>
              </thead>    <tbody>
                <% @order.order_items.each do |order_item| %>
            <tr>
              <td class='px-4 py-2 border'><%= order_item.product.name %></td>
              <td class='px-4 py-2 border'><%= order_item.quantity %></td>
              <td class='px-4 py-2 border'>R$ <%= order_item.unit_price_cents/100.0 %></td>
              <td class='px-4 py-2 border'>R$ <%= order_item.total_value %></td>
            </tr>
                <% end %>
              </tbody>
            </table>
          </div>    </div>

      <div class='flex justify-between items-center mt-2'>
        <h3 class='text-lg font-bold text-gray-700'> Total </h3>
        <p class='text-lg text-gray-700'> R$ <%= @order.total_value %> </p>
      </div>
    </div>
  </div>
