<div class='flex flex-col'>
  <%= link_to products_path, class: 'font-bold text-gray-700 mb-5' do %>
      <i class="la-lg las la-arrow-circle-left"></i> Catálogo de produtos
  <% end %>

  <div class="rounded border rounded-lg p-5">

    <div class='md:flex justify-between items-center p-4'>
      <%= image_tag @product.image_url  %>

      <div class="md:px-4 py-4">
        <div class="text-2xl font-bold text-gray-700"><%= @product.name %></div>

        <p class="text-sm font-medium text-gray-700">
          <%= @product.description %>
        </p>
        <p class="text-xl mt-5 text-bold text-gray-700">
          R$ <%= @product.price %>
        </p>
        <p class="text-sm text-gray-600 ">
          Em estoque: <%= @product.stock_quantity %>
        </p>

        <%= form_with model: @cart_item, method: :post do |f| %>
          <%= f.hidden_field :product_id, value: @product.id %>

          <%= f.label :quantity, 'Quantidade', class: 'block mt-5 text-sm font-bold text-gray-700' %>
          <%= f.number_field :quantity, in: 1..@product.stock_quantity, class: 'w-full py-2 px-3 shadow appearance-none border rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline'%>

          <%= button_tag type: 'submit', class: 'mt-2 py-2 font-medium text-gray-700 cursor-pointer' do %>
            Adicionar ao carrinho
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
